# Aqui se agregan los directorios que no se van a incluir en el portafolio
Python/
Laravel/
Angular/
.vscode/
node_modules/
GitDemos/
codigo.txt
portafolio-details.html
CNAME
package-lock.json
package.json
