# Aqui se agregan los directorios que no se van a incluir en el portafolio
Python/
Laravel/
Angular/
Login/
.vscode/
node_modules/
GitDemos/
google-chrome-stable_current_amd64.deb
get-pip.py
package-lock.json
package.json
